body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate();
}
.container {
  padding: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 3rem;

  .card {
    max-width: 30vw;

    .title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    & img {
      width: 100%;
    }
  }
}
